.signup {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;

  & h3 {
    font-size: 20px;
    line-height: 1.15;
    color: var(--primary-text-color);
    margin-bottom: 12px;
    text-align: center;
  }
}
.signup-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: normal;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  cursor: pointer;
  transition: border-color var(--transition);
  &:focus-within {
    transition: var(--accent-color), border-color var(--transition);
  }
}

.signup-icon {
  position: absolute;
  bottom: 14px;
  left: 14px;
}
.signup-field {
  height: 40px;
  width: 100%;
  padding-left: 42px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border-color var(--transition);
  &:focus-within {
    transition: var(--accent-color), border-color var(--transition);
  }
  &:focus,
  &:hover {
    border: 1px solid var(--accent-color);
    transition: border-color var(--transition);
    & + .signup-icon {
      fill: var(--accent-color);
      transition: fill var(--transition), border-color var(--transition);
    }
  }
  @media screen and (min-width: 1200px) {
    width: 448px;
  }
}

.signup-item textarea {
  padding: 16px 12px;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: var(--accent-color), border-color var(--transition);
  &:focus,
  &:hover {
    border: 1px solid var(--accent-color);
    transition: border-color var(--transition);
  }
}

.signup-check-item {
  width: 100%;
  align-items: center;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
  margin-bottom: 30px;
  margin-left: 8px;
  & span {
    text-decoration-line: underline;
    :visited {
      color: var(--accent-color);
    }
  }
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 370px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    font-size: 14px;
    line-height: 1.714;
    color: #757575;
    margin-bottom: 30px;
    margin-left: 10px;
  }
}

.signup-check-terms {
  border: transparent;
  border: transparent;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.signup-list {
  width: 100%;
  & button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--text-color-white);
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    cursor: pointer;
  }
}

.signup-checkbox {
  -webkit-appearance: none;
  position: absolute;
  &:checked + .check-box-empty {
    background-color: var(--accent-color);
    border: var(--accent-color);
  }
}

.check-box-empty {
  position: absolute;
  width: 16px;
  height: 15px;
  border-radius: 4px;
  border: 2px solid #212121;
  left: -12px;
  @media screen and (min-width: 1200px) {
    left: -10px;
  }
}

.cheked-symbol {
  fill: var(--text-color-white);
  position: absolute;
  top: 3.5px;
  left: 3px;
}

.check-box-title {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  &:focus-within {
    border: var(--accent-color);
  }
}
