
.team{
    background-color: #f5f4fa;
    padding: 60px 0px;
}
.our-clients,
.our-products{
    padding: 60px 0px;
}


@media screen and (min-width: 768px){
    .section-wedo,
        .our-products,
        .our-clients,
        .team,
        .section-principles {
            padding: 60px 0px
}
}



@media screen and (min-width: 1200px){
.section-wedo, .our-products,
.our-clients, .team, 
.section-principles{
    padding: 94px 0px;
}

.section-wedo .container,
.team .container,
.our-clients .container {
    display: block;
}
}
