.portfolio .container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.portfolio .container ul {
    display: flex;
    flex-wrap: wrap;

}
.portfolio {
    background-color: #fff;
}

.portfolio h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--primary-text-color);
}
.butt-list {
    margin-bottom: 40px;
    :not(:last-child) {
        margin-right: 8px;
    }
    @media screen and (min-width: 768px){
        margin-bottom: 30px;
        
    }
    @media screen and (min-width: 1200px){
        margin-bottom: 50px;
    }
}
.butt-list li {
    @media screen and (max-width: 1199px) {
        margin-bottom: 15px;
    }
}